name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.6'

    - name: Install slink
      run: go install github.com/agentio/slink/cmd/slink-generate@v0.1.0

    - name: Run slink-generate
      run: slink-generate xrpc -m xrpc.json

    - name: Build
      run: go build -v ./...
